
  body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y:auto ;
    /* Scrollbar customization for Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 10px; /* width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #1a1a1a; /* background of the scrollbar track */
  border-radius: 5px; /* rounded corners of the track */
}

::-webkit-scrollbar-thumb {
  background: #3d0225; /* color of the scrollbar thumb */
  border-radius: 5px; /* rounded corners of the thumb */
  border: 2px solid #1a1a1a; /* adds some space around the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #000000; /* color of the scrollbar thumb on hover */
}

/* Scrollbar customization for Firefox */
* {
  scrollbar-width: thin; /* width of the scrollbar */
  scrollbar-color: #680505 #1a1a1a; /* color of the thumb and track */
}
  }
  